<!-- use property names as the object is not known to post-info --> 

<article class="post">
  <div class="title">
    <h3>{{title}}</h3>
    <p>Posted by {{user.username}} on {{format_date created_at}}
  </div>
  <div class="meta">
    <p>{{contents}} </p>
    <!--post_url-->
  </div>
</article>