
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>

    {{#each posts as |post|}}

    <!-- post-infor is a partial --> 
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link btn">Edit post</a>

    {{/each}}

</section>
{{/if}}

<div class="wrapper">
<button onclick="window.location.href='/dashboard/full'" type="submit" class="btn btn-primary">Create Post</button>
</div>

<script src="/javascript/add-post.js"></script>

