<form class="login-form">
    <div>
        <label for="username-login">username:</label>
        <input type="text" id="username-login" />
    </div>
    <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button class="rounded" type="submit">Login!</button>
    </div>

    <div>
        <a href="/signUp"><button type="button" class="button is-danger">Sign up</button></a>
    </div>

</form>



<!-- Only added to this handlebar as is where the logic is required for logging in -->
<!-- Absolute path requiered in back end as js code is not to be sent to the client -->
<script src="/javascript/login.js"></script>


